<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<div style="display: block;width: 800px;">
    <div style="background-color: #24292f; height: 80px; color: white;font-size: 2.5rem;text-align: center;line-height: 80px;">Error Happen</div>
    <h1>Oops，bad things</h1>
    <h3>&nbsp;&nbsp;我不好说了，问题是这个：</h3>
    <h4>&nbsp;&nbsp;[[${bugInfo}]]</h4>
    <div style="padding: 1rem;border-top: 1px solid #eaecef;text-align: center;color: #4e6e8e; margin-top: 3rem;font-size: 1rem;">
        No Licensed | Copyright © 2022-present&nbsp;<a style="text-decoration: none; color: #4f6e8e;" href='https://github.com/mosqu1t0'>mosquito</a></div>
</div>
</body>
</html>
